<%- include('partials/header') %>

<div>
    <h1 class="date"><%= kindofDay %></h1>

    <div class="list-box">
    
    <%todosList.map(itemObj =>{%>
        <div class="item">
            <form action="/submit" method="POST">
                <input name=<%=itemObj._id%> <%if(itemObj.status){%> checked <%}%> onChange="this.form.submit()" type="checkbox" >
            </form>    
            <p <%if(itemObj.status){%> class="checked" <%}%>><%= itemObj.item %></p>
        </div>               
    <%});%>
    <form class="item" action="/" method="POST">
        <input type="text" class="item-input" name="todo" placeholder="New Item" autocomplete="off" required>
        <button type="submit" class="submit" class="btn btn-dark">+</button>
    </form>
    </div>
</div>

<%- include('partials/footer') %>